@font-face {
    src: url(ZenLoop-Italic.ttf);
    font-family:'Sensation';
    src: url(assets/Sensations\ and\ Qualities.ttf) format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    src: url(assets/OpenSans.ttf);
}

#cabecalo {
    display:grid;
    grid-template-columns: 70% 15% 15%;
    font-family:'Sensation';
    color:#c0a9e2;
    position: fixed;
    width: 100%;
    height: 95px;
    background-color: #fff;
    margin-top: 0%;
    
    
}

.produtos:hover {
    border: 2px solid #00b7ff;
}

.artistas:hover {
    border: 2px solid #00b7ff;
}


.logo {
    font-family:'Sensation';
    font-size: 80px;
    margin-left: 1cm;         
}

.produtos {
    font-family:'Sensation';
    font-size: 60px;    
    top: 0; 
    padding: 10px;    
      
}

.artistas {
    font-family:'Sensation';
    font-size: 60px;    
    top: 0; 
    padding: 10px;  
      
}     


body {
    background-color: #fff;
    width: 100%;
    margin-top: 1%;
}

.portadaHer {
    width: 90%;

}

.grid {
    display:grid;
    grid-template-columns: 50% 50%;
}
.grid div {
    
    font-family:'Sensation';
    color: #fff;
    font-size: 70px;
   
    background-color: #c0a9e2;
    text-align: center;
    
    margin: 50px;
    line-height: 150px;
    border: 5em;
}

.grid div:hover {
    border: 2px solid #00b7ff;
}

footer {
width: 100%;
height: 150px;
background-color: #00b7ff;
text-align: center;
text-emphasis-color: #fff;
padding: 1em;
font-family: 'OpenSans';
color: #fff;

 }
#botao-wsp {
z-index: 3;
background: none;
border: none;
bottom: 20px; 
cursor: pointer;
outline: none;
padding: 15px;
position: fixed; 
right: 30px; 

}